<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/icons/sprite/sprite.css' />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
</head>

<body>
    <header id="header">
        <figure class="header__logo">
            <a href="/"><img src="/images/logo.png"></a>
        </figure>
        <nav id="nav" class="nav">
            <ul class="nav__items">
                <li class="nav__items__item"><a href="/"><i class="icn-home icn-home-dims"></i>Home</a></li>
                <li class="nav__items__item"><a href="https://looklive.com/discover/"><i class="icn-latest icn-latest-dims"></i>Latest</a></li>
                <li class="nav__items__item"><a href="https://looklive.com/people/"><i class="icn-people icn-people-dims"></i>People</a></li>
                <li class="nav__items__item"><a href="https://looklive.com/shows/"><i class="icn-shows icn-shows-dims"></i>Shows</a></li>
                <li class="nav__items__item"><a href="https://looklive.com/music/"><i class="icn-music icn-music-dims"></i>Music</a></li>
                <li class="nav__items__item"><a href="https://looklive.com/brands/"><i class="icn-brands icn-brands-dims"></i>Brands</a></li>
            </ul>
        </nav>
    </header>

    <figure class="banner">
        <img src="/images/header.jpg">
    </figure>

    <main>
        {{{body}}}
    <main>

    <!-- Libs -->
    <script src="/lib/routie.js"></script>
    <script src="/lib/jquery.js"></script>

    <!-- Scripts -->
    <script src="/js/appInit.js"></script>
    <script src="/js/appGet.js"></script>
    <script src="/js/appPage.js"></script>
    <script src="/js/appRoutes.js"></script>
    <script src="/js/appStart.js"></script>

</body>

</html>
