<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <style>
    i,li{display:inline-block}.header-img,header,i{overflow:hidden}body{font:14px Raleway,Helvetica,Arial,sans-serif;background-color:#f1f1f1;margin:0}body a{color:#00B7FF}main{padding:3.4em}i{text-indent:200%;white-space:nowrap}header{background-color:#252525;display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;flex-wrap:wrap;-webkit-box-pack:justify;justify-content:space-between;align-content:space-between;-webkit-box-align:center;align-items:center;height:50vh}li{list-style:none;height:100%;line-height:30px;margin-right:15px}li a{color:#fff;text-decoration:none}.logo{height:30px;padding:.5em 1em;display:block}.header-img{height:auto;max-height:56vw;width:100%}.icn-brands-dims{width:17px;height:17px}.icn-home-dims{width:17px;height:15.09px}.icn-latest-dims{width:15.8px;height:17px}.icn-music-dims{width:17px;height:17px}.icn-people-dims{width:17px;height:15.33px}.icn-shows-dims{width:17px;height:14.48px}
    </style>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img class="logo" src="/images/logo.svg">
        <nav>
            <ul>
                <li><a href="/"><i class="icn-home icn-home-dims"></i>home</a></li>
                <li><a href="https://looklive.com/discover/"><i class="icn-latest icn-latest-dims"></i>Latest</a></li>
                <li><a href="https://looklive.com/people/"><i class="icn-people icn-people-dims"></i>People</a></li>
                <li><a href="https://looklive.com/shows/"><i class="icn-shows icn-shows-dims"></i>Shows</a></li>
                <li><a href="https://looklive.com/music/"><i class="icn-music icn-music-dims"></i>Music</a></li>
                <li><a href="https://looklive.com/brands/"><i class="icn-brands icn-brands-dims"></i>Brands</a></li>
            </ul>
        </nav>
    <img class="header-img" src="/images/header-small.jpg" srcset="/images/header-small.jpg 480w, /images/header-medium.jpg 960w, /images/header-large.jpg 1920w" alt="House of Cards">
    </header>
    <main>
    <noscript>Sorry je hebt JS nodig voor deze website.</noscript>
    {{{body}}}
    </main>

    <script src="/lib/director.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>
