/************

 GLOBAL STYLES
 / RESET

*************/

figure {
    padding: 0;
    margin: 0;
}

i {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

/************

 BODY

*************/

body {
    font: 14px Raleway, Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

body a {
    color: #00B7FF;
}

/************

 HEADER

*************/

header {
    display: flex;
    flex-direction: row;
    background-color: #252525;
    padding: .5em 1em;
    justify-content: space-between;
}
    .header__logo img {
        height: 3.5em;
    }

    /************

    NAV

    *************/

        
    .nav__items {
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .nav__items__item {
        height: 100%;
        line-height: 30px;
        margin-right: 1em;
    }

    .nav__items__item a {
        color: white;
        text-decoration: none;
    }

    .nav__items__item a:hover {
        color: #d84a4a;
    }

/************

 BANNER 

*************/

.banner {
    width: 100%;
    height: 50vh;
    max-height: 56vw;
    overflow: hidden;
}

    .banner img {
        width: 100%;
    }


/************

 MAIN

*************/

main {
    padding: 50px;
}


/************

 FEED

*************/

.feed__item {
    width: 300px;
    height: 600px;
    float: left;
    margin: .5em;
}

.feed__item img {
    max-width: 100%;
}

 .appearance-right,  .appearance-left {
    float: left;
}

.feed__item__avatar,  .appearance-right h2 img {
    width: 2em;
    height: 2em;
    margin-right: .5em;
    border-radius: 50%;
}

.feed__item h2,  .appearance h2 {
    font-size: 16px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: .5em;
}

.feed__item h1 {
    margin-top: 0;
    font-size: 21px;
}

/************

 APPEARANCE

*************/

.appearance h2 {
    font-size: 21px;
}

.appearance .appearance-left {
    width: 400px;
    height: 600px;
    margin-right: 2em;
    position: relative;
}

.appearance-left img {
    width: 100%;
}

.appearance .appearance-left .product-indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00B7FF;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.appearance .appearance-left .product-indicator.product-indicator-active {
    background-color: #b4da55;
}

.appearance-products__inner {
    width: 400px;
    position: relative;
    overflow: hidden;
    height: 700px;
}

.appearance-products .product {
    width: 450px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left .3s;
}

.appearance-products__inner .product.product-active {
    left: 0;
}

.appearance-products h1 {
    font-size: 21px;
    color: #333;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

.actual,  .similar {
    display: -webkit-flex;
    display: flex;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

.actual .image, .similar .image {
    width: 200px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 1em;
}

.similar .image {
    width: 150px;
}

.actual .image h1, .similar .image h1 {
    margin: .5em 0;
    color: #333;
    font-size: 16px;
    border-bottom: none;
}

.actual .image img,  .similar .image img {
    width: 100%;
}

.actual .info h1,  .similar .info h1 {
    font-size: 21px;
    margin: 1.5em 0 .5em 0;
    border-bottom: none;
}

.actual .info h2,  .similar .info h2 {
    font-size: 16px;
    margin: 1em 0;
}